root = true

[*]
end_of_line = lf
insert_final_newline = true

[__fixtures__/**]
insert_final_newline = unset

[Makefile]
indent_style = tab

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{ts,tsx,js,jsx}]
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = 100
quote_type = single
trim_trailing_whitespace = true

[*.{json,yml}]
indent_style = space
indent_size = 2
